
/* == Slick dots == */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  position: relative;
}

.slick-dots li{
    height: 3px;
    margin: 0 8px;
    width: 10px;

  &.slick-active {
    button:before {
      background-color: $main-caderco;
      opacity: 1;
    }
  }

  button {
    height: 100%;
    width: 100%;

    &:before {
      content: "";
      background-color: $black;
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }
}

/* == Slick arrows == */
.slick-prev, .slick-next {
  border: 3px solid $white;
  height: 50px;
  width: 50px;
  top: -30%;
  border: 2px solid $gray;
  // background: linear-gradient(rgba($main-caderco, 0.5) 0%, rgba($main-caderco, 0.5) 100%) !important;
  background-repeat: repeat-y;
  background-size: 0% 0em;
  background-position: 0 35%;
  transition: 600ms ease-in-out;
  &:hover{
    background: linear-gradient(rgba($main-caderco, 1) 0%, rgba($main-caderco, 1) 100%) !important;
    background-size: 100% 1em;
    color: $white;
    border: 2px solid transparent;
  }

  @include respond-to(md) {
    top: -30%;
  }

  @include respond-to(sm) {
    // height: 50px;
    // width: 50px;
    top: -20% !important;
  }

  @include respond-to(xs) {
    top: -15% !important;
  }

  @include respond-to(xs) {
    top: 75%;
  }

  &:before {
    font-family: 'FontAwesome';
  }
}

.slick-prev {
  left: 88%;
  z-index: 1;

  @include respond-to(md) {
    left: 85%;
  }

  @include respond-to(sm) {
    left: 81%;
  }

  @include respond-to(xs) {
    left: 45%;
  }


  &:before {
    content: "\f060";
    color: $black !important;
  }

  &:hover {

    &:before {
      content: "\f060";
      color: $white !important;
    }
  }

}

.slick-next {
  right: 1%;

  @include respond-to(xl) {
    right: 5%;
  }

  @include respond-to(sm) {
    right: 4%;
  }

  @include respond-to(xs) {
    right: 8%;
  }

  &:before {
    content: "\f061";
    color: $black !important;
  }

  &:hover {

    &:before {
      content: "\f061";
      color: $white !important;
    }
  }

}

li {
  list-style: none;
}
