%section.counter-up
  .container
    .row
      .col-lg-3.col-sm-6
        .content-counters
          %img{:src=>"assets/img/1.svg",:alt=>""}/
          .counter{"data-count" => "150"} 0
          %h5 Proyectos
      .col-lg-3.col-sm-6
        .content-counters
          %img{:src=>"assets/img/2.svg",:alt=>""}/
          .counter{"data-count" => "85"} 0
          %h5 Clientes satisfechos
      .col-lg-3.col-sm-6
        .content-counters
          %img{:src=>"assets/img/3.svg",:alt=>""}/
          .counter{"data-count" => "2200"} 0
          %h5 Servicios prestados
      .col-lg-3.col-sm-6
        .content-counters
          %img{:src=>"assets/img/4.svg",:alt=>""}/
          .counter{"data-count" => "2800"} 0
          %h5 Horas sin accidentes

