%section.redes-sociales#redes-social.wow.animated{'data-wow-duration' => '1500ms'}
  %ul
    %li
      %i.fa.fa-facebook{"aria-hidden" => "true"}
    %li
      %i.fa.fa-instagram{"aria-hidden" => "true"}
    %li
      %i.fa.fa-twitter{"aria-hidden" => "true"}
    %li
      %i.fa.fa-linkedin{"aria-hidden" => "true"}

