.single-project-carousel
  .main
    #slider.slider-for
      %div.slider-item
        %img.p2{:src => "assets/img/07.jpg"}/
      %div.slider-item
        %img.p2{:src => "assets/img/13.jpg"}/
      %div.slider-item
        %img.p2{:src => "assets/img/15.jpg"}/